 /* Estilos para el encabezado */
 header {
    background-color: #7366b9;
    padding: 20px;
    text-align: center;
    color: rgb(197, 111, 111);
}

/* Estilos para la barra de navegación */
nav a {
    color: rgb(209, 5, 5);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffeb3b;
}

/* Estilos para la sección principal */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #d1b7c9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(173, 173, 172, 0.1);
}

.container h2 {
    color: #505c0b;
}

.container p {
    font-size: 16px;
    color: #6c5091;
    line-height: 1.6;
}

/* Estilos para el pie de página */
footer {
    background-color: #5918c0;
    color: rgb(109, 33, 33);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}